.item-container {
  height: 200px;
  //width: 100%;
  // #648e9e  #63cbc3  #73a9d2 #e6f182   #d5ecf2  #fffdec
  display: flex;
  flex-flow: row;
  margin: 10px 20px;
  //box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  //justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;

  &.extra {
    margin-top: 20px;
  }

  &::after {
    border: none;
  }

  &:active {
    opacity: 0.5;
  }

  .avatar {
    width: 25%;
    height: 100%;
  }

  .body {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;

    .top {
      height: 60px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;

      .name {}

      .tags {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: -10px;

        .tag {
          margin-left: 5px;
        }
      }
    }

    .bottom {
      display: flex;

      .desc {
        font-size: small;
        overflow: hidden;
        text-overflow: fade;
        white-space: normal;
        color: #929292;
      }
    }
  }


}
