.index {
  flex-direction: column;
  width: 100%;

  .line-limit-length {
    overflow: hidden;
    text-overflow: fade;
    white-space: nowrap;
  }

  .swiper-item {
    width: 100%;
    height: 300px;
  }

  .tab-content {}
}
