.users-container {
  display: flex;
  flex-flow: column;

  .user {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 5px;
    justify-items: flex-start;

    .avatar {
      display: flex;
    }

    .user-name {
      display: flex;
      flex: 1;
      font-size: medium;
      color: #333333;
      padding-left: 10px;
    }

    .action {
      display: flex;
      justify-self: flex-end;
    }
  }

}
